<div class="d-inline-flex container-fluid mt-5 justify-content-center">
    <div class="col-md-3" style="height: 440px;">
      <div class="row">
        <div class="profile-card">
            <header>
              <!-- here’s the avatar -->
              <a target="_blank" routerLink='/perfil'>
                <img src="{{foto}}" class="hoverZoomLink">
              </a>
              <!-- the username -->
              <h1>
                      {{nome}}
                    </h1>
              <!-- and role or location -->
              <h2>
                      Desenvolvedor
                    </h2>
            </header>
            <!-- bit of a bio; who are you? -->
            <div class="profile-bio">
              <p>
                {{usuario.descricao}}
              </p>
            </div>
            <!-- some social links to show off -->
            <ul class="profile-social-links d-flex justify-content-center">
              <li>
                <a target="_blank" href="{{usuario.linkedin}}">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="{{usuario.gitHub}}">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="list-group mt-tarefas lista">
        <a routerLink="/tarefas" class="list-group-item list-group-item-action">Lista de Tarefas</a>
      
        <a routerLink='' class="list-group-item list-group-item-action list-group-item-primary" *ngFor = 'let tarefa of usuario.listaTarefas'>{{tarefa.titulo}}</a> 
      </div>
    </div>


    <div class="col-md-6 text-center">
        <div class="d-flex align-items-center form-gorup text-center justify-content-center" >
            <input [(ngModel)] = 'atividades.atividade' type="text" class="col-md-9 text-center justify-content-center" style="height: 40px;" placeholder="Status - Postagem de Pensamentos">
            <button class="btn btn-info ml-3 justify-content-center" style="height: 40px;" (click)='publicar()'>Postar</button>
        </div>

        <div class="container-fluid border rounded mt-5">
            <div class="row mb-3 ml-1">Foto grupo + nome grupo</div>
            <div class="d-flex-column justify-content-center">
                <h1 class="text-center">Titulo Postagem</h1>
                <h2 class="text-center mt-3">Pergunta eai qual empresas vocês querem entrar depois da Generetion?</h2>
                <div class="d-flex flex-column mt-3">
                    <button class="btn btn-outline-secondary mb-3">Itau</button>
                    <button class="btn btn-outline-secondary mb-3">Magalu</button>
                    <button class="btn btn-outline-secondary mb-3">Zup Inovation</button>
                </div>
                
            </div>
        </div>
    </div> 


    <div class="col-md-3 text-center">       
        <div class="list-group lista">
            <a routerLink='' class="list-group-item list-group-item-action">Lista de Grupos</a>
            
            <a routerLink='' class="list-group-item list-group-item-action list-group-item-primary" *ngFor = 'let grupo of usuario.listaInscricaoUG'>{{grupo.grupoInscricao.nome}}</a>
          </div>
    </div>   
</div>