.corBg{
   background: linear-gradient( #0d0938,  #a17aa1);
 }
 .fa{
   font-size: 20pt;
   color: #ffc107;
   padding: 10px;
}

.fa-instagram:hover{
   color: purple;
}

.fa-github:hover{
   color: black;
}

.fa-linkedin:hover{
   color: blue;
}
.fa-facebook-square:hover{
   color: blue;
}
.fa-twitter-square:hover{
   color: cornflowerblue;
}