
       <footer class="page-footer font-small corBg mt-5 font ">
        <div class="container">
            <div class="row d-flex justify-content-center">
            
                        <a href="#"><i class="fa fa-github fa-fw fa-2x"></i></a>
    
                        <a href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
                                        
                        <a href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
                    
                        <a href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                    
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                  
            </div>
        </div>
    
        <div class="footer-copyright text-center">
            <span class="text-black"> © 2021 Copyright: You Win</span>
    
        </div>
    
    </footer>