<h1 style="text-align: center; margin-bottom: 5rem; margin-top: 3rem;" class="title"><img src="https://i.imgur.com/cAZSnnT.jpg" alt="" width="60px" class="rounded-circle "> NOME DO GRUPO</h1>

  
<section class="page-contain">
    <div href="#" class="data-card post" data-toggle="modal" data-target="#NovaPostagemQuiz">
        <h3>Post novo quiz</h3>
      
    </div>
    <div href="#" class="data-card">  
      <div class="questions">
          <h3>Pergunta</h3>
      </div>
   <div class="resposts">
       <input type="checkbox"> Resposta aqui 
    </div>
    <div class="resposts">
       <input type="checkbox"> Resposta aqui 
    </div>
    <div class="resposts">
       <input type="checkbox"> Resposta aqui 
    </div>
</div>
    <div href="#" class="data-card">
      <div class="questions">
          <h3>Pergunta</h3>
      </div>
      <div class="resposts">
        <input type="checkbox"> Resposta aqui 
     </div>
      <div class="resposts">
        <input type="checkbox"> Resposta aqui 
     </div>
      <div class="resposts">
        <input type="checkbox"> Resposta aqui 
     </div>
    </div>
  </section>

    
        <div class="col-md-2 auto-top" >
            <span class="first">
            Membros
            <span class="icon-edit new"></span>
            </span>
            <ul class="timeline">
            <li>
                <div class="avatar">
                <img src="http://www.croop.cl/UI/twitter/images/doug.jpg" />
                <div class="hover">
                    <div class="icon-twitter"></div>
                </div>
                </div>
                <div class="bubble-container">
                <div class="bubble">
                    <div class="retweet">
                    <div class="icon-retweet"></div>
                    </div>
                    <h3>Liz</h3>
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto,
                    maxime, ullam autem a voluptate rem quos repudiandae.
                    <div class="over-bubble">
                    <div class="icon-mail-reply action"></div>
                    <div class="icon-retweet action"></div>
                    <div class="icon-star"></div>
                    </div>
                </div>

                <div class="arrow"></div>
                </div>
            </li>
            <li>
                <div class="avatar">
                <img src="http://www.croop.cl/UI/twitter/images/carl.jpg" />
                <div class="hover">
                    <div class="icon-twitter"></div>
                </div>
                </div>
                <div class="bubble-container">
                <div class="bubble">
                    <h3>Rodrigo</h3>
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto,
                    maxime, ullam autem a voluptate rem quos repudiandae.
                    <div class="over-bubble">
                    <div class="icon-mail-reply action"></div>
                    <div class="icon-retweet action"></div>
                    <div class="icon-star"></div>
                    </div>
                </div>
                <div class="arrow"></div>
                </div>
            </li>
            <li>
                <div class="avatar">
                <img src="http://www.croop.cl/UI/twitter/images/russel.jpg" />
                <div class="hover">
                    <div class="icon-twitter"></div>
                </div>
                </div>
                <div class="bubble-container">
                <div class="bubble">
                    <h3>Katia</h3>
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto,
                    maxime, ullam autem a voluptate rem quos repudiandae.
                    <div class="over-bubble">
                    <div class="icon-mail-reply action"></div>
                    <div class="icon-retweet action"></div>
                    <div class="icon-star"></div>
                    </div>
                </div>
                <div class="arrow"></div>
                </div>
            </li>
            <li>
                <div class="avatar">
                <img src="http://www.croop.cl/UI/twitter/images/carl.jpg" />
                <div class="hover">
                    <div class="icon-twitter"></div>
                </div>
                </div>
                <div class="bubble-container">
                <div class="bubble">
                    <h3>River</h3>
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto,
                    maxime, ullam autem a voluptate rem quos repudiandae.
                    <div class="over-bubble">
                    <div class="icon-mail-reply action"></div>
                    <div class="icon-retweet action"></div>
                    <div class="icon-star"></div>
                    </div>
                </div>
                </div>
            </li>
            </ul>
        </div>   
   
        <div class="text">
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, non ullam ipsam nihil repellendus, ut nesciunt accusamus et temporibus, sequi vero repellat! Iusto maxime error fuga recusandae sequi modi veniam!
</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde temporibus nostrum illum. Nemo vitae repellat mollitia qui ipsum beatae dignissimos porro, eum animi. Voluptatem nesciunt quisquam esse voluptatibus soluta natus.
</p>

</div>


<!-- Botão para acionar modal -->

  
  <!-- Modal -->
  <div class="modal fade   " id="NovaPostagemQuiz" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  " role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem Quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-grup text-center">
              <label for="titulo ">Pergunta</label>
              <input type="text"class="form-control" id="titulo"placeholder="Digite a pergunta">
          </div>
          <div class="form-grup">
            <label for="Resposta">Resposta 1</label>
            <input type="text"class="form-control" id="titulo"placeholder="Digite a resposta">
        </div>
        <div class="form-grup">
            <label for="Resposta">Resposta 2</label>
            <input type="text"class="form-control" id="titulo" placeholder="Digite a resposta">
        </div>
        <div class="form-grup">
            <label for="Resposta">Resposta 3</label>
            <input type="text"class="form-control" id="titulo"placeholder="Digite a resposta" >
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
          <button type="button" class="btn btn-danger">Deletar</button>
    
        </div>
      </div>
    </div>
  </div>