<div class="container-fluid bg-cor">

    <div class="cor rounded d-flex flex-row justify-content-start ml">
        <div class="mt-5 d-flex flex-row justify-content-center align-items-center mb-5 ml-5">
            <img class="fotoGrupo mr-4" src="{{grupo.foto}}" alt="">
            <div>
                <h1 class="fs-54 text-start p-2">{{grupo.nome}}</h1>
                <p>{{grupo.descricao}}</p>
            </div>

        </div>
    </div>

    <div class="col-md-12 d-flex flex-row">

        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center mt-3">
                <button type="button" class=" btn btn-outline-primary" (click)='inscricaoGU()'>
                    Se inscrever
                </button>
                <div class="card card-atv mt-3">
                    <div class="card-header">
                        Membros do grupo
                    </div>
                    <div class="card-body d-flex flex-row" *ngFor='let inscricao of grupo.listaInscricaoGU'>
                        <img class='fotoGrupo ml-3' src="{{inscricao.usuarioInscricao.foto}}" alt="">
                        <div class="ml-3">
                            <h2>{{inscricao.usuarioInscricao.nome}} {{inscricao.usuarioInscricao.sobrenome}}</h2>
                            <p>{{inscricao.usuarioInscricao.descricao}}</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center mt-3">
                <button type="button" class=" btn btn-outline-primary" data-toggle="modal" data-target="#criarTarefa">
                    Novo Quiz
                </button>

                <div class="container-fluid border rounded mt-3" *ngFor='let post of grupo.listaPostQuiz'>
                    <div class="row mb-3 ml-1">Grupo: {{grupo.nome}}</div>
                    <div class="d-flex-column justify-content-center">
                        <h1 class="text-center">{{post.pergunta}}</h1>
                        <div class="d-flex flex-column mt-3">
                            <button class="btn btn-outline-secondary mb-3">{{post.respostaCorreta}}</button>
                            <button class="btn btn-outline-secondary mb-3">{{post.respostaFalsa}}</button>
                            <button class="btn btn-outline-secondary mb-3">{{post.respostaFalsa2}}</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <!-- Modal Criar Tarefas-->
        <div class="modal fade" id="criarTarefa" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalCentralizado">Novo Quiz</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="titulo">Pergunta</label>
                            <input [(ngModel)]='postQuiz.pergunta' type="text"
                                class="form-control bg-transparent text-white" id="pergunta"
                                placeholder="Digite aqui sua pergunta">
                        </div>
                        <div class="form-group">
                            <label for="titulo">Resposta correta</label>
                            <input [(ngModel)]='postQuiz.respostaCorreta' type="text"
                                class="form-control bg-transparent text-white" id="respostac"
                                placeholder="Digite aqui a resposta correta">
                        </div>
                        <div class="form-group">
                            <label for="titulo">Resposta falsa</label>
                            <input [(ngModel)]='postQuiz.respostaFalsa' type="text"
                                class="form-control bg-transparent text-white" id="respostaf"
                                placeholder="Digite aqui a resposta falsa">
                        </div>
                        <div class="form-group">
                            <label for="titulo">Resposta falsa</label>
                            <input [(ngModel)]='postQuiz.respostaFalsa2' type="text"
                                class="form-control bg-transparent text-white" id="respostaf2"
                                placeholder="Digite aqui a resposta falsa">
                        </div>
                        <div class="form-group">
                            <label for="titulo">Mentalidade</label>
                            <input [(ngModel)]='postQuiz.mentalidade' type="text"
                                class="form-control bg-transparent text-white" id="mentalidade"
                                placeholder="Digite aqui a resposta falsa">
                        </div>

                        <div class="form-group">
                            <label for="titulo">Pontuação</label>
                            <input [(ngModel)]='postQuiz.pontuacao' type="text"
                                class="form-control bg-transparent text-white" id="pontuacao"
                                placeholder="Atribua uma pontuação de 1 a 10">
                        </div>

                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                                (click)='publicar()'>
                                Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>