.fotoGrupo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1{
    color: rgb(250, 204, 0);
  }
  h3{
    color: white;
  }
  h5{
    color: white;
  }
  label{
    color: white;
  }
    .cor{
      background: linear-gradient(180deg, rgba(3, 9, 58, 0.9) 100%, rgba(4, 16, 107, 0.153) 100%);
   }
  .abrir{
    text-decoration: none;
    color: #27fdc7;
  }
  .abrir:hover{
    color: blue;
  }
  .bg-transparent
  {
    background-color: rgba(255, 255, 255, 0.349);
  }
  
  
  html {
    background: rgb(221, 221, 221);
  }
  html {
    height: 100%;
    display: flex;
  }
  body {
    width: 100%;
    margin: auto;
  }
  