<div class="container-fluid bg-cor">

    <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-end align-items-center">
            <h1 class="mt-5 mr-4 titulo-site borda-titulo f-80">YOU WIN</h1>
            <div class="row">
                <div class="imagem ">
                    <img class="foto" src="https://images-ext-2.discordapp.net/external/N5EgmZXtq1_cK5Af0G5deulEuR3-RjnpFweTQLYNXYU/https/i.imgur.com/WMSzHhD.png?width=473&height=473">
                    <div class="capa font-geral text-white fs-16">
                      <p class="text-center texto">Atenção aos detalhes</p>
                    </div>
                </div>
    
                <div class="imagem ">
                    <img class="foto" src="https://images-ext-1.discordapp.net/external/Q8YphFZ5TNlsVPS92jFNuW0qFPiQM12XGFM5f82Loas/https/i.imgur.com/8gqGzjD.png?width=473&height=473" >
                    <div class="capa font-geral text-white fs-16">
                        <p class="text-center texto">Comunicação</p>
                    </div>
                </div>
    
                <div class="imagem ">
                    <img class="foto" src="https://images-ext-2.discordapp.net/external/yZYVtvsMdwUxRR4J8ESnzehNr2FVs-GYUwu6KyDC1Gs/https/i.imgur.com/7SmbZV0.png?width=473&height=473" >
                    <div class="capa font-geral text-white fs-16">
                        <p class="text-center texto">Persistência</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="imagem ">
                    <img class="foto" src="https://images-ext-1.discordapp.net/external/msdp3Hcx-7t7qx8qqAw7QR1FZfedZqF8aSXo-W7zfXU/https/i.imgur.com/0qQYqwE.png?width=473&height=473" >
                    <div class="capa font-geral text-white fs-16">
                      <p class="text-center texto">Planejamento</p>
                    </div>
                </div>
    
                <div class="imagem">
                    <img class="foto" src="https://i.imgur.com/5ODWGRB.png" >
                    <div class="capa font-geral text-white fs-16">
                        <p class="text-center texto">Mentalidade de crescimento</p>
                    </div>
                </div>
    
                <div class="imagem ">
                    <img class="foto " src="https://images-ext-2.discordapp.net/external/W6NbkPy68M-MIraXZv5cEh-I0hWScCwtU6FWmin4QZ8/https/i.imgur.com/Fi9EeV1.png?width=473&height=473" >
                    <div class="capa font-geral text-white fs-16">
                        <p class="text-center texto">Proatividade</p>
                    </div>
                </div>


            </div>
        

        </div>

  <!-- card login 
        <div class="col-md-6">
            <div class="row justify-content-end text-warning">
                <div class="cardLogin">
                    <div class="col-md-12 text-center">
                        <div class="form-group text-center mt-4 mb-1">
                            <label for="usuario">NICKNAME</label>
                            <input [(ngModel)]='usuarioLogin.usuario' class='form-control color1' type="text"
                                name="usuario" id="usuario">
                        </div>
                        <div class="form-group text-center mt-2 mb-1">
                            <label for="senha">SENHA</label>
                            <input [(ngModel)]='usuarioLogin.senha' class='form-control color2' type="password"
                                name="senha" id="senha">
                        </div>
                        <a class="text-center text-white">Esqueceu sua senha?</a>
                        <div class="text-center mt-2 mb-2">
                            <button type="submit" class="btn corBotao" (click)='login()'>Entrar</button>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn corBotao" data-toggle="modal"
                                data-target="#modalExemplo">Criar conta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


  <!-- card login -->

    <div class="col-md-6">
        <div class="row justify-content-end text-warning">
          <section>
            <div class="caixa">
              <div class="background-img">
                <div class="box">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                  
                    <div class="form-group text-center mt-4 mb-1 fs-16 titulo-site">
                        <label for="usuario">NICKNAME</label>
                        <input [(ngModel)]='usuarioLogin.usuario' class='form-control color1 font text-white' type="text"
                            name="usuario" id="usuario">
                    </div>

                    <div class="form-group text-center mt-2 mb-1 fs-18 titulo-site">
                        <label for="senha">SENHA</label>
                        <input [(ngModel)]='usuarioLogin.senha' class='form-control color2 font text-white' type="password"
                            name="senha" id="senha">
                    </div>

                

                    <div class="text-center mt-2 mb-2">
                        <button type="submit" class="btn btn-outline-warning font-texto" (click)='login()'>Entrar</button>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-warning font-texto" data-toggle="modal"
                            data-target="#modalExemplo">Criar conta</button>
                    </div>

                    
                  </div>
                  
                </div>
              </div>
            </div>
          </section>
        </div> 
    </div>


    <div class="col-md-12 ml-5 mt-5">

        <div class="row d-flex justify-content-center">
           
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">

                    <h1 class="mb-5 mt-5 titulo-site size-titulo borda-titulo">Por que gamificar?</h1>
    
                    <p class="text-justify font-descricao text-white">
                        “Os jogos não nos desviam de nossas vidas reais. Eles preenchem nossas vidas reais: com emoções positivas, atividade positiva, experiências positivas e forças positivas. [...]  
                        Se nos comprometermos com a exploração do poder dos jogos para produzir a verdadeira felicidade e a verdadeira mudança, então uma realidade melhor será mais do que provável - será possível. E, nesse caso, nosso futuro juntos será absolutamente extraordinário.” (Jane McGonigal, A Realidade em Jogo)
    
                    </p>
    
                </div>
    
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="https://i.imgur.com/1pGoQWK.png?1" style="height: 400px; width: 600px;" alt="">
                </div>
            </div>
            

          

        </div>
    </div>




    <!-- cards que viram -->

    <div class="row">
        <div class="col-md-12 mt-5">

            <div class="wrapper fotos">
                <h1 class="titulo-site borda-titulo size-titulo">Nosso time</h1>
                <div class="cols font-texto ">
                    <div class="m-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="containerCards cardPessoal">
                            <div class="front" style="background-image: url(https://i.imgur.com/H7mqw0h.jpg)">
                                <div class="inner">
                                    <p>Generation Brasil</p>
                                    <h5>Desenvolvor Jr.</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner2">
                                    <p>Tia Gen aqui, gostariamos de agradecer por nos ensinarem do zero e nos ajudarem a realização desse projeto!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="containerCards cardPessoal">
                            <div class="front" style="background-image: url(https://images-ext-1.discordapp.net/external/9zHDqdBTsDUrHibb947N3v1trNXVA0273PPjN80ny9k/%3Fv%3D4/https/avatars.githubusercontent.com/u/76970525)">
                                <div class="inner">
                                    <p>Rodrigo</p>
                                    <h5>Desenvolvor Jr.</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner2">
                                    <p>Extremamente motivado, em constante  desenvolvimento.</p>
                                    <ul class="social-network">
                                        <li>
                                            <a href="https://www.instagram.com/rodrigo_teixera/" target="_blank"
                                                class="icoInstagram">
                                                <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/RodrigoTeixeiraC" target="_blank" class="icoGithub">
                                                <i class="fa fa-github" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/rodrigo-teixeira-59b728103/" target="_blank"
                                                class="icoLikedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="containerCards cardPessoal">
                            <div class="front" style="background-image: url(https://i.imgur.com/3Dni1F0.jpg)">
                                <div class="inner">
                                    <p>Liz</p>
                                    <h5>Desenvolvora Jr.</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner2">
                                    <p>Duas palavras definem minha trajetória: flexibilidade e entusiasmo, pois quem endurece nunca vence.</p>
                                    <ul class="social-network">
                                        <li>
                                            <a href="https://www.instagram.com/allandeyvisond/" target="_blank"
                                                class="icoInstagram">
                                                <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/AllanDeyvison" target="_blank" class="icoGithub">
                                                <i class="fa fa-github" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/allan-deyvison-573b0a1b3/" target="_blank"
                                                class="icoLikedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="cols mt-0 font-texto">
                    <div class="m-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="containerCards cardPessoal">
                            <div class="front" style="background-image: url(https://images-ext-2.discordapp.net/external/wucDd_hUNtt6p1buh68ovOEKXyCwOEO_9VHHKfYgNrY/https/i.imgur.com/0nVdBBT.jpg?width=471&height=473)">
                                <div class="inner">
                                    <p>Allan</p>
                                    <h5>Desenvolvor Jr.</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner2">
                                    <p>Extremamente motivado, em constante  desenvolvimento.
                                    

                                    </p>
                                    <ul class="social-network">
                                        <li>
                                            <a href="https://www.instagram.com/allandeyvisond/" target="_blank"
                                                class="icoInstagram">
                                                <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/AllanDeyvison" target="_blank" class="icoGithub">
                                                <i class="fa fa-github" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/allan-deyvison-573b0a1b3/" target="_blank"
                                                class="icoLikedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="containerCards cardPessoal">
                            <div class="front" style="background-image: url(https://i.imgur.com/7rn6yaP.jpg)">
                                <div class="inner">
                                    <p>Kátia</p>
                                    <h5>Desenvolvora Jr.</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner2">
                                    <p>Extremamente motivado, em constante  desenvolvimento.</p>
                                    <ul class="social-network">
                                        <li>
                                            <a href="https://www.instagram.com/allandeyvisond/" target="_blank"
                                                class="icoInstagram">
                                                <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/AllanDeyvison" target="_blank" class="icoGithub">
                                                <i class="fa fa-github" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/allan-deyvison-573b0a1b3/" target="_blank"
                                                class="icoLikedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="containerCards cardPessoal">
                            <div class="front" style="background-image: url(https://images-ext-2.discordapp.net/external/y_EWX0MrHrStfC-lGVOZh3dvajX-nHy51WDlX1E49YA/%3F2/https/i.imgur.com/PbsYan5.jpg?width=538&height=473)">
                                <div class="inner">
                                    <p>Rive</p>
                                    <h5>Desenvolvor Jr.</h5>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner2">
                                    <p>Extremamente motivado, em constante  desenvolvimento.</p>
                                    <ul class="social-network">
                                        <li>
                                            <a href="" target="_blank"
                                                class="icoInstagram">
                                                <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/ri-ve" target="_blank" class="icoGithub">
                                                <i class="fa fa-github" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/rivelino-desenvolvedor-java/" target="_blank"
                                                class="icoLikedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>



        </div>
    </div>
   
</div>




<!-- Modal Cadastrar -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content formatMoldal">
            <button type="button" class="close d-flex justify-content-end mr-2" data-dismiss="modal" aria-label="Fechar"
                routerLink="/login">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center">
                <h5 class="modal-title text-warning" id="modalExemplo">Cadastre-se</h5>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="nome"></label>
                    <input [(ngModel)]='usuario.nome' class='form-control' type="text" name="nome" id="nome"
                        placeholder='Seu nome'>
                </div>

                <div class="form-group">
                    <label for="sobrenome"></label>
                    <input [(ngModel)]='usuario.sobrenome' class='form-control' type="text" name="sobrenome"
                        id="sobrenome" placeholder='Sobrenome'>
                </div>

                <div class="form-group">
                    <label for="usuario"></label>
                    <input [(ngModel)]='usuario.usuario' class='form-control' type="text" name="usuario" id="usuario"
                        placeholder='Usuário'>
                </div>

                <div class="form-group">
                    <label for="email"></label>
                    <input [(ngModel)]='usuario.email' class='form-control' type="email" name="email" id="email"
                        placeholder='E-mail'>
                </div>

                <div class="form-group">
                    <label for="dataNascimento"></label>
                    <input [(ngModel)]='usuario.dataNascimento' class='form-control' type="date" name="dataNascimento"
                        id="dataNascimento" placeholder='Data de Nascimento'>
                </div>

                <div class="form-group">
                    <label for="celular"></label>
                    <input [(ngModel)]='usuario.celular' class='form-control' type="number" name="celular" id="celular"
                        placeholder='Telefone Celular'>
                </div>

                <div class="form-group">
                    <label for="foto"></label>
                    <input [(ngModel)]='usuario.foto' class='form-control' type="text" name="foto" id="foto"
                        placeholder='Link da foto'>
                </div>

                <div class="form-group">
                    <label for="senha"></label>
                    <input (input)='confirmSenha($event)' class='form-control' type="password" name="senha" id="senha"
                        placeholder='Sua senha'>
                </div>

                <div class="form-group">
                    <label for="confirmSenha"></label>
                    <input [(ngModel)]='usuario.senha' class='form-control' type="password" name="confirmSenha"
                        id="confirmSenha" placeholder='Confirme sua Senha'>
                </div>

                <div class="text-center">
                    <a class="btn corBotao btn-lg active" role="button" aria-pressed="true" (click)='cadastrar()'
                        data-dismiss="modal">Cadastrar</a>
                </div>

            </div>
        </div>
    </div>
</div>