#img-bg{
    background-image: url('https://i.imgur.com/J0yKB0r.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cor{
    background-color: #192a56;
}

