<div class="container-fluid cor">

    <div class="row">

        <div class="col-md-6">
            <h1 class="letra">YOU WIN</h1>

            <div class="card"></div>
            <div class="card card-1"></div>
            <div class="card card-2"></div>
            <div class="card card-3"></div>
            <div class="card card-4"></div>
            <div class="card card-5"></div>

        </div>

        <div class="col-md-6">
            <div class="row justify-content-end text-warning">
                
                <div class="cardLogin">
                    <div class="col-md-12 text-center">

                        <div class="form-group text-center mt-4 mb-1">
                            <label for="usuario">NICKNAME</label>
                            <input [(ngModel)]='usuarioLogin.usuario' class='form-control color1' type="text" name="usuario" id="usuario">
                        </div>
        
                        <div class="form-group text-center mt-2 mb-1">
                            <label for="senha">SENHA</label>
                            <input [(ngModel)]='usuarioLogin.senha' class='form-control color2' type="password" name="senha" id="senha">
                        </div>
    
                            <a class="text-center text-white">Esqueceu sua senha?</a>

                        <div class="text-center mt-2 mb-2">
                            <button type="submit" class="btn corBotao" (click)='login()'>Entrar</button>
                        </div>
        
                        <div class="text-center">
                            <button type="submit" class="btn corBotao" data-toggle="modal" data-target="#modalExemplo">Criar conta</button>
                        </div> 

                    </div>
                </div>         
                    
            </div>
        </div>        
        
    </div>

    <div class="container d-flex justify-content-between">

        <div class="row">
        
            <div class="col-md-6">
    
                <h1 class="mb-5 mt-0">O QUE É GAMEFICAÇÃO?</h1>
    
                <p class="text-justify">
                    AUISDIAHDUIASIODASOSFASOIFH ASIFHASOIFHASCHASIOASCNIASO ICASNOCISAFIOASFASI
                    OFHOIASJ XAOXAAFNASIOFSAÇK KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKAUISDIAHDU
                    IASIODASOSFASOIFH ASIFHASOIFHASCHASIOASCNIASOICASNOCI SAFIOASFASIOFHOIASJXAO
                    XAAFNASIOFSA ÇKKKKKKKKKKKKKKKKKKKKKKKK KKKKKKKKKKKKKKKKAUISDI AHDUIASIODASOSF
                    ASOIFHASIFHASOIFHAS CHASIOASCNIASOICAS NOCISAFIOASFASIOjtf dhsdfwswfwwsfegrnn
                </p>
    
            </div>
    
            <div class="col-md-6 d-flex justify-content-end">
                <img src="https://i.imgur.com/18cqhB5.png" style="height: 400px; width: 400px;" alt="">
            </div>
                
        </div>
    </div>


</div>

<!-- Modal Cadastrar -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content formatMoldal">
        <button type="button" class="close d-flex justify-content-end mr-2" data-dismiss="modal" aria-label="Fechar" routerLink="/login">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center">
          <h5 class="modal-title text-warning" id="modalExemplo">Cadastre-se</h5>  
        </div>

        <div class="modal-body">

            <div class="form-group">
                <label for="nome"></label>
                <input [(ngModel)]='usuario.nome' class='form-control' type="text" name="nome" id="nome" placeholder='Seu nome'>
            </div>

            <div class="form-group">
                <label for="sobrenome"></label>
                <input [(ngModel)]='usuario.sobrenome' class='form-control' type="text" name="sobrenome" id="sobrenome" placeholder='Sobrenome'>
            </div>

            <div class="form-group">
                <label for="usuario"></label>
                <input [(ngModel)]='usuario.usuario' class='form-control' type="text" name="usuario" id="usuario" placeholder='Usuário'>
            </div>

            <div class="form-group">
                <label for="email"></label>
                <input [(ngModel)]='usuario.email' class='form-control' type="email" name="email" id="email" placeholder='E-mail'>
            </div>

            <div class="form-group">
                <label for="dataNascimento"></label>
                <input [(ngModel)]='usuario.dataNascimento' class='form-control' type="date" name="dataNascimento" id="dataNascimento" placeholder='Data de Nascimento'>
            </div>

            <div class="form-group">
                <label for="celular"></label>
                <input [(ngModel)]='usuario.celular' class='form-control' type="number" name="celular" id="celular" placeholder='Telefone Celular'>
            </div>

            <div class="form-group">
                <label for="foto"></label>
                <input [(ngModel)]='usuario.foto' class='form-control' type="text" name="foto" id="foto" placeholder='Link da foto'>
            </div>

            <div class="form-group">
                <label for="senha"></label>
                <input (input)='confirmSenha($event)' class='form-control' type="password" name="senha" id="senha" placeholder='Sua senha'>
            </div>
            <!--asdasdasdas-->
            <div class="form-group">
                <label for="confirmSenha"></label>
                <input [(ngModel)]='usuario.senha' class='form-control' type="password" name="confirmSenha" id="confirmSenha" placeholder='Confirme sua Senha'>
            </div>

            <div class="text-center">
                <a class="btn corBotao btn-lg active" role="button" aria-pressed="true" (click)='cadastrar()' data-dismiss="modal">Cadastrar</a>
            </div>

        </div>
      </div>
    </div>
  </div>